<% if @search_results %>
  <% @search_results.each do |game| %>
      <div class="search_game-result">
        <h3><%= game[:title] %></h3>

        <% if game.cover_art %>
          <div class="search_game-result_image">
            <img src="<%= game.cover_art.url %>" alt="<%= game.title %>cover art">
          </div>
        <% end %>

        <div class="search_game-result_platforms">

        <%= erb :'partials/_add_game_by_platform_choice_to_user_form', locals: {game: game} %>


        </div>

      </div>
  <% end %>
<% else %>
  <h2>No Results</h2>
<% end %>