<header class="navbar">
  <section class="navbar-section">
    <a href="/" class="navbar-brand mr-2">GameTracker</a>
  </section>

  <% if logged_in? %>
    <section class="navbar-center">
      <a href="/users" class="btn btn-link">Users</a>
      <a href="/games" class="btn btn-link">Games</a>

      <a href="/games/new" class="btn btn-link">Add Custom Game</a>
      <%= erb :'/partials/_search_form'%>
    </section>

    <section class="navbar-section user-menu-section">
      <%= erb :'/partials/_user_links' %>
    </section>
  <% end %>

</header>