<form action="/search/results" method="POST">
  <input type="search" name="game[title]" placeholder="title ex: Mass Effect" class="form-input">
  <button class="btn btn-primary input-group-btn"><i class="icon icon-search"></i></button>
</form>

