<form class="input-group input-inline" action="/search/results" method="POST">
  <input class="form-input" type="search" name="game[title]" placeholder="title ex: Mass Effect">
  <button class="btn btn-primary input-group-btn"><i class="icon icon-search"></i></button>
</form>

