<ul class="menu user-menu">
  <!-- menu item standard -->
  <li class="menu-item">
    <%= erb :'/partials/_user_avatar', locals: { username: current_user.username, size: "sm" } %>
    <%= current_user.username %>
  </li>

  <!-- menu divider -->
  <li class="divider"></li>
  <!-- menu item with badge -->
  <li class="menu-item">
    <a href="/users/<%= current_user.slug %>">My Games</a>
  </li>
  <li class="menu-item">
    <a href="/users/<%= current_user.slug %>/account">Account</a>
  </li>
  <li class="menu-item">
    <a href="/logout">Log out</a>
  </li>
</ul>