/* --- Reset Styles --- */
* {
  list-style: none;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: #222;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.no-image {
  width: 264px;
  height: 373px;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  margin: 10px 0;
}

div.divider {
  margin-bottom: 40px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 100%;
}

main h2 {
  text-align: center;
  margin: 20px 0 40px;
}

.form-container {
  min-width: 300px;
}

.custom-game-form,
.login-signup-form {
  display: flex;
  flex-direction: column;
}

.custom-game-form input,
.login-signup-form input {
  width: 100%;
}

.login-signup-form p {
  font-size: 0.7em;
}

.custom-game-form button,
.login-signup-form button {
  align-self: flex-end;
}

.delete-account-form {
  align-self: flex-end;
  justify-self: flex-end;
  margin-bottom: 200px;
}

.page-account {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.session-links {
  font-size: 1.3em;
}

.navbar .navbar-brand {
  font-family: "ZCOOL QingKe HuangYou", cursive;
  font-size: 3em;
}

.page-title {
  text-transform: uppercase;
  font-family: "ZCOOL QingKe HuangYou", cursive;
  font-size: 3em;
}

.users-container,
.games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game,
.game-card {
  width: 320px;
  margin: 20px;
  margin-top: 0;
  align-items: center;
  min-height: 600px;
}

.game-card a {
  color: #222;
}

.game-card a:hover {
  text-decoration: none;
  color: #5755d9;
}

.game-card:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.owned-by-text {
  font-size: 0.9em;
}

.you-own-this-text {
  font-size: 0.8em;
  font-weight: 700;
}

.game-card_delete-btn-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-card_delete-form {
  z-index: 1000;
  position: absolute;
  opacity: 0;
}

.game-card_add-form input {
  background: none;
  border: none;
}

/* .chip:hover { */
/* background-color:todo; */
/* } */

/* .game-card-platforms span.chip_add-game:hover {
  background-color: #232359;
} */

.chip {
  /* font-size: 0.5em; */
}

.toast.toast-primary {
  text-align: center;
  margin: 20px auto 40px;
  max-width: 1200px;
}

.user-tile {
  margin: 10px 20px;
  padding: 20px;
  /* border: 1px solid #5755d9; */
  border-radius: 15px;
}

.user-tile .tile-title {
  font-weight: 700;
  font-size: 1.5em;
  font-family: "ZCOOL QingKe HuangYou", cursive;
  text-transform: uppercase;
}

.user-tile .tile-subtitle {
  color: #807fe2;
}

/* header {
  padding-top: 20px;
  border: 1px solid red;
  justify-self: flex-end;
}
header.navbar {
  background: #eee;
} */

/* .navbar .navbar-center {
  flex-wrap: wrap;
}

.navbar .user-menu-section {
  position: relative;
}

.navbar .user-menu {
  position: absolute;
  top: 15px;
} */

footer.branding {
  text-align: center;
  padding: 40px 0;
}
