@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html,
  body {
    height: 100%;
    width: 100%;
  }

  body {
    color: #222;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
  }
}

main {
  flex: 1;
  max-width: 1200px;
  align-self: center;
}

main h2 {
  text-align: center;
  margin: 20px 0 40px;
}

.games-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
}

.game,
.game-card {
  width: 320px;
  margin: 20px;
  margin-top: 0;
  align-items: center;
}

.game-card a {
  color: #222;
}

.game-card a:hover {
  text-decoration: none;
  color: #5755d9;
}

.game-card:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.owned-by-text {
  font-size: 0.9em;
}

.you-own-this-text {
  font-size: 0.8em;
  font-weight: 700;
}

.game-card_delete-btn-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-card_delete-form {
  z-index: 1000;
  position: absolute;
  opacity: 0;
}

.game-card_add-form input {
  background: none;
  border: none;
}

/* .chip:hover { */
/* background-color:todo; */
/* } */

/* .game-card-platforms span.chip_add-game:hover {
  background-color: #232359;
} */

.chip {
  /* font-size: 0.5em; */
}

.toast.toast-primary {
  text-align: center;
  margin: 20px auto 40px;
  max-width: 1200px;
}

footer.branding {
  text-align: center;
  padding: 40px 0;
}
