 <% if @users %>
    <div class="users-container">
      <% @users.each do |user| %>

      <div class="tile user-tile">
        <div class="tile-icon">
          <figure class="avatar avatar-xl" data-initial="<%= current_user.username[0] %>" style="background-color: #5755d9;">
            <img src="https://robohash.org/<%= user.username %>" alt="...">
          </figure>
        </div>
        <div class="tile-content">
          <p class="tile-title"><%= user.username %></p>
          <p class="tile-subtitle">Owns <%= user.games.uniq.length %> game titles.</p>
        </div>
      </div>

    <% end %>
    </div>
  <% end %>


