
 <% if @user_has_game %>
    <h2>You already have <%= @existing_game.title %> in your library.</h2>
 <% else %>
   <h2>This game already exists.<h2>
    <div class="add_existing_game">
      <%= @existing_game.title %>
      <%= erb :'partials/_add_game_by_platform_choice_to_user_form', locals: {game: @existing_game} %>
    </div>
 <% end %>

<br>
<a href="/games">Add a Different Game</a>
