
    <%= erb :'/partials/_flash'%>
    <div class="games-container">

      <%= erb :'/partials/_game_card', locals: { game: @existing_game, platforms: @existing_game.platforms } %>

    </div>

<br>
<h2><a href="/games">Add a Different Game</a></h2>
