<h1>Games</h1>

<main>
  <div class="games">
  <h2>Add a Game to Your Library</h2>
    <% @games.each do |game| %>
      <div class="game">
      <!-- TODO  add game form -->
      <!-- TODO show game image -->
        <a href="games/<%= game.slug %>"><%= game.title %></a>
      </div>
    <% end %>
  </div>
</main>