<h1>Add Custom Game</h1>
<form action="/games" method="POST">
  <div>
    <label>Title</label>
    <input type="text" name="game[title]" required>
  </div>

  <% # existing platforms from db %>
    <label>Platform</label>
    <select name="game[platform_id]">
      <% @platforms.each do |p| %>
        <option value="<%= p.id %>"><%= p.name %></option>
      <% end %>
    </select>
    <label>Summary</label>
    <textarea name="game[summary]"></textarea>
  <input type="hidden" name="game[custom]" value="true">
  <input type="submit" value="Add Game" class="btn btn-submit">
</form>